
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, href, nav, section {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        text-decoration: none;
        font-weight: inherit;
        font-style: inherit;
        font-size: 100%;
        vertical-align: baseline;
        background-color: transparent;
        list-style-type: none;
}

html{
  height: 100%;
  background-color: rgb(254, 244, 0);
}

img{
	display: block;
}

#logo{
	width: 30vh;
	height: auto;
}

.drop{
	margin-left: auto; 
	margin-right: auto; 
	width: 30vh; 
	height: auto; 
	margin-top: 34vh;
}

#play{
	margin-top: 7vh;
	width: 8vh;
	height: auto;
	margin-left: auto; 
	margin-right: auto; 
	transition: all 0.1s;

	opacity: 0.3;/* l'opacite que vous voulez au depart */
    border: none;/* enlever les border d'une image en lien */
    -ms-filter: "prodig:DXImageTransform.Microsoft.Alpha(Opacity=25)"; /* Hack IE8 */
    filter: alpha(opacity = 25); /* Hack IE 5-7 */
    -webkit-transition: opacity 0.5s ease-in-out;/* transition pour Chrome et Safari */
    -moz-transition: opacity 0.5s ease-in-out;/* transition pour Firefox */
    -o-transition: opacity 0.5s ease-in-out;/* transition pour Opéra */
    transition: opacity 0.5s ease-in-out; /* on écrit cette ligne à la fin de façon à ce que ce soit elle qui soit prise en compte lorsque l'attribut transition sera pris en compte par tous les navigateurs */

}


#play:hover, #play:focus{
    opacity: 0.9; /* opacite au survol */
    -ms-filter:"prodig:DXImageTransform.Microsoft.Alpha(Opacity=90)"; /* Hack IE 8 */
    filter: alpha(opacity = 90); /* Hack IE 5-7 */
}













